</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/axios.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript">
    function showMessage(msg){
    alert(msg)
        $("#messageid").html(msg)

    }
</script>
</html>