<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>System Manager</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-brand">System</div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Manager</a></li>
            </ul>
            <div class="pull-right">
                <p class="navbar-text"> <%=locals.user%><a href="/logout">&nbsp;&nbsp;LogOut</a></p>
            </div>
        </div>
    </div>
</nav>