<%- include header %>
<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="row">
    <%- include left %>
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
        <ol class="breadcrumb">
                <li><a href="#">首页</a></li>
            </ol>
            <div class="jumbotron">
                <h1>Welcome</h1>
            </div>
        </div>
    </div>
</div>
<%- include footer %>