<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title text-center">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        后台管理
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <a href="/" class="list-group-item">首页</a>
                <a href="/phenix" class="list-group-item">仓位管理</a>
                <a href="/notice" class="list-group-item">公告管理</a>
            </div>
        </div>
        
    </div>
</div>
